<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lxk.ipcdemo">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <permission
        android:name="com.aidl.messenger.permission.ACCESS_BOOK_SERVICE"
        android:protectionLevel="normal" />

    <permission
        android:name="com.test.cp.PROVIDER"
        android:protectionLevel="normal" />

    <uses-permission android:name="com.test.cp.PROVIDER" />

    <uses-permission android:name="com.aidl.test.permission.ACCESS_BOOK_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="socket.SocketTestActivity" />

        <activity android:name="messenger.MessengerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity android:name="contentprovider.ProviderActivity" />

        <activity android:name="aidl.BookManagerActivity" />


        <service
            android:name="socket.TCPServerService"
            android:process=":remote" />

        <service
            android:name="messenger.MessengerService"
            android:process=":remote" />

        <service
            android:name="aidl.BookManagerService"
            android:process=":remote" />

        <provider
            android:name="contentprovider.TestProvider"
            android:authorities="com.lxk.ipcdemo.provider"
            android:permission="com.test.cp.PROVIDER"
            android:process=":provider" />
    </application>

</manifest>