<manifest xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.lxk.feature1">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_feature1">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>
</manifest>

